Repository wgrabowski/from-install-to-ci: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --format stylish --fix, jest --bail --findRelatedTests --runInBand --noStackTrace --silent --forceExit, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "*.ts": [
      "tslint --format stylish --fix",
      "git add",
      "jest --bail --findRelatedTests --runInBand --noStackTrace --silent --forceExit"
    ],
    "*.scss": [
      "stylelint --fix",
      "git add"
    ]
  }
}

Fix Jenkinsfile
  Jenkinsfile
Due: none

Add nodejs wrapper to jenkinsfile
  Jenkinsfile
Due: none

restore jenkinsfile
  Jenkinsfile
Due: none

parallel test
  Jenkinsfile
Due: none

Fix jenkinsfile
  Jenkinsfile
Due: none

Modularize code. Add real test. Generate junit. Provide Node to Jenkinsfile
  .gitignore
  Jenkinsfile
  jest.config.js
  package-lock.json
  package.json
  src/admiralize.spec.ts
  src/admiralize.ts
  src/constants.ts
  src/index.spec.js
  src/index.ts
Due: tslint --format stylish --fix, jest --bail --findRelatedTests --runInBand --noStackTrace --silent --forceExit

fix jenkinsfile
  Jenkinsfile
Due: none

Add nvmrc file
  .nvmrc
Due: none

Update lintstagedrc
  .lintstagedrc
  src/index.ts
Due: tslint --format stylish --fix, jest --bail --findRelatedTests --runInBand --noStackTrace --silent --forceExit

Correct pre-commit script name
  package.json
Due: none

Correct pre-commit script name and linstagedrc
  .lintstagedrc
Due: none

Fix errors in styles
  src/style.scss
Due: stylelint --fix

Update tests
  src/admiralize.spec.ts
Due: tslint --format stylish --fix, jest --bail --findRelatedTests --runInBand --noStackTrace --silent --forceExit

Fix notes
  notes/0-intro.md
  notes/1-nvm-managing-node-versions.md
  notes/2-npm-and-dependencies.md
  notes/3-linting.md
  notes/4-git-hooks.md
  notes/5-verify-pr.md
  notes/6-ci-part-1-what.md
  notes/7-ci-part-2-how.md
  notes/8-summary.md
  notes/index.html
  notes/index.md
Due: none

Update README.md
  README.md
Due: none

Update 2-npm-and-dependencies.md
  notes/2-npm-and-dependencies.md
Due: none
